<!-- Sidebar -->
<aside>
{# The next section attempts to fill the panel in the sidebar with the contents of the
    'about'-block, if it exists. First, attempt to fetch the block by its slug #}
{% setcontent block = "pages/about" %}

{# check if we have a title. If so, we know we have content to display. Otherwise, we will
    output a default text, telling the user to create the 'blocks' in the backend. #}
{% if block.title is defined %}

    <h4>{{ block.title }}</h4>
    {{ block.teaser }}

    {% set edit_link = block|edit_link %}
    {% set content_link = block|link %}
    {% if content_link or edit_link %}
        <p>
        {%- if content_link %}
            <a href="{{ relative_path(content_link|e) }}">{{ __('general.phrase.read-more') }}</a>
        {% endif -%}
        {%- if edit_link %}
            / <a href="{{ edit_link }}">{{ __('general.phrase.edit') }}</a>
        {% endif -%}
        </p>
    {% endif %}

{% else %}

    <h4>{{ __('general.phrase.missing-about-page') }}</h4>

    <p>{{ __('general.phrase.missing-about-page-block') }}</p>

{% endif %}

    {% set feeds = getFeedsConfig() %}

    <h4>Recent updates: </h4>
    <ul>
    {% for slug, feed in feeds|slice(0,15)|filter(feed => not feed.skip|default(false)) %}
        <li>
            <a href="{{ path('taxonomy', {'taxonomyslug': 'authors', 'slug': slug|slug }) }}">{{ feed.title }}</a>
            {% if feed.last_updated is defined %}
                <span class="last-updated">(upd: {{ feed.last_updated|date('Y-m-d') }})</span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    <a href="/page/all-feeds">All feeds</a>

</aside>
<!-- End Sidebar -->
