{% set feed = getFeedsConfig(record) %}
<p class="meta">
    <img src="{{ asset('assets/leaf_small.svg') }}">

    {% if user %}
        <span class="edit-link"><a href="{{ record|edit_link }}"><strong>{{ __('general.phrase.edit') }}</strong></a></span> -
    {% endif %}

    {% if feed %}
        Written by <a href="{{ feed.url|default('unknown') }}">{{ feed.name }}</a>
    {% else %}
        Written by <a href="{{ record.sitesource|default('unknown') }}">{{ record.sitetitle|default('unknown') }}</a>
    {% endif %}
    / <a href="{{ record.source }}">Original link</a>
    on <a href="{{ record|link }}">{{ record.publishedAt|localedatetime("%b. %e, %Y") }}</a>
</p>
