{% extends 'partials/_master.twig' %}

{% block main %}

    {% set config = getFeedsConfig()  %}

        {# If used for listing a taxonomy, we add a heading #}
        {% if taxonomy is defined %}
            <h1>
                {{ __('general.phrase.overview-for', {'%slug%': taxonomy.options[slug]|default(slug) }) }}
            </h1>
        {% endif %}

        {% for record in records %}
            {% set authorslug = record.fields.author.value|first %}
            {% if config[authorslug] is defined %}
                {% set author = config[authorslug] %}
            {% else %}
                {% set author = false %}
            {% endif %}
            {% set compact = author and author.compact|default(false) %}
            <article class="{{ compact ? 'compact' }}">

                {% if compact %}

                    <h3><a href="{{ record|link }}">{{ record|title }}</a></h3>
                    {% include 'partials/_recordheader.twig' with { 'record': record, 'extended': false } %}

                    {% if record.image and record.image|split('.')|last in ['jpg', 'jpeg', 'png', 'gif'] %}
                        <a href="{{ record.image }}">
                            <img src="{{ record.image }}" alt="">
                        </a>
                    {% endif %}

                    <p>{{ record.content|excerpt(200, false, search|default('')) }}</p>

                {% else %}

                    <h2><a href="{{ record|link }}">{{ record|title }}</a></h2>
                    {% include 'partials/_recordheader.twig' with { 'record': record, 'extended': true } %}

                    {% if record.image and record.image|split('.')|last in ['jpg', 'jpeg', 'png', 'gif'] %}
                        <a href="{{ record.image }}">
                            <img src="{{ record.image }}" alt="">
                        </a>
                    {% endif %}

                    <p>{{ record.content|excerpt(300, false, search|default('')) }}</p>

                {% endif %}
            </article>

            {% if not loop.last %}
                <hr>
            {% endif %}

        {% else %}
            <article>

                <h2>{{ __('general.phrase.no-content-found') }}</h2>

                <p>
                    {{ __("Unfortunately, no content could be found. Try another page, or go to the <a href=\"%paths_root%\">homepage</a>.", {'%paths_root%': path('homepage')} ) }}
                </p>

            </article>
        {% endfor %}

        {# If there are more records than will fit on one page, the pager is shown. #}
        {{ pager(records, template = 'helpers/_pager_bulma.html.twig') }}

{% endblock main %}
